---
title: Color System
label: Color System
---

Colors give us the ability to create contrast, meaning, and hierarchy. 
They are used to create a visual language that helps us communicate with our users. 
Each color has a specific purpose and meaning.

## Color Swatches

Here you can find all of the colors that are used in the Blueprint Design System and their 
shades with their variables and hex code.

### Buildout Blue

<div class="grid columns-11">
  <div class="col">
    <div class="swatch" style="background: #ddebfd"></div>
    <div class="swatch-label">50</div>
    <div class="swatch-label"><code>$buildout-blue-50</code></div>
    <div class="swatch-label"><code>#DDEBFD</code></div>
  </div>
</div>

<style type="text/css">
  .swatch {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
</style>