.accordion {
  --#{$prefix}accordion-btn-bg: #{$card-cap-bg};
  --#{$prefix}accordion-border-color: #{$border-color};
  --#{$prefix}accordion-btn-color: #{$body-color};
  --#{$prefix}accordion-start-icon-color: #{$text-muted};
}

.accordion-icon {
  color: var(--#{$prefix}accordion-start-icon-color);
}

.accordion-button {
  font-weight: 700;
  gap: map-get($spacers, 4);
}

.accordion-secondary {
  --#{$prefix}accordion-btn-bg: #{$card-bg};
  --#{$prefix}accordion-border-color: #{$border-color};

  .accordion-button {
    font-weight: $font-weight-normal;
  }

  .accordion-item {
    border-width: 0 0 1px 0;
  }

  .accordion-icon {
    --#{$prefix}accordion-start-icon-color: #{$body-color};
  }
}
