.ds-avatar {
  --#{$prefix}avatar-bg: #{$storm-grey-100};
  --#{$prefix}avatar-color: #{$body-color};
  --#{$prefix}avatar-border-color: #{$border-color};
  --#{$prefix}avatar-more-color: #{$text-muted};
}

.ds-avatar-more {
  color: var(--#{$prefix}avatar-more-color);
}

.ds-avatar-container {
  display: flex;
  align-items: center;
  position: relative;
}

.ds-avatar {
  align-items: center;
  background: var(--#{$prefix}avatar-bg);
  border-radius: 50%;
  border: 1px solid var(--#{$prefix}avatar-border-color);
  color: var(--#{$prefix}avatar-color);
  display: inline-flex;
  justify-content: center;
  margin-left: -#{map-get($spacers, 1)};
  position: relative;
  z-index: 1;
  object-fit: cover;
  text-transform: uppercase;

  &:first-child {
    margin-left: 0;
  }

  &.avatar-sm {
    width: 24px;
    height: 24px;
    font-size: calc(#{$font-size-sm} - 2px);
  }

  &.avatar-md {
    width: 32px;
    height: 32px;
  }

  &.avatar-lg {
    width: 48px;
    height: 48px;
    margin-left: -#{map-get($spacers, 2)};
  }

}
