.badge {
  
  --#{$prefix}badge-font-weight: 600;
  --#{$prefix}badge-line-height: 1.375rem;

  align-items: center;
  background-color: var(--#{$prefix}badge-background-color);
  border: 1px solid var(--#{$prefix}badge-border-color, var(--#{$prefix}badge-background-color));
  color: var(--#{$prefix}badge-color);
  display: inline-flex;
  gap: map-get($spacers, 1);
  line-height: var(--#{$prefix}badge-line-height);
  max-height: 30px;
  @include rfs(1rem, --#{$prefix}badge-font-size);

  &.end {
    flex-direction: row-reverse;
  }

  @mixin badgeCreator($className, $badgeColor, $backgroundColor) {
    &.#{$className} {
      --#{$prefix}badge-color: #{$badgeColor};
      --#{$prefix}badge-background-color: #{$backgroundColor};
    }

    &.#{$className}-outline {
      --#{$prefix}badge-color: #{$backgroundColor};
      --#{$prefix}badge-border-color: #{$backgroundColor};
      --#{$prefix}badge-background-color: transparent;
    }
  }

  @include badgeCreator("primary", $buildout-blue-50, $buildout-blue-700);
  @include badgeCreator("secondary", $purple-heart-50, $purple-heart-500);
  @include badgeCreator("info", $seagull-50, $seagull-500);
  @include badgeCreator("success", $mountain-meadow-50, $mountain-meadow-800);
  @include badgeCreator("warning", $harvest-gold-50, $harvest-gold-500);
  @include badgeCreator("danger", $solid-pink-50, $solid-pink-500);
  @include badgeCreator("neutral", $storm-grey-50, $storm-grey-500);

  &.badge-sm, &.badge-xs {
    --#{$prefix}badge-font-weight: 400;
    --#{$prefix}badge-line-height: 1rem;
    --#{$prefix}badge-padding-x: 0.5rem;
  }

  &.badge-sm {
    @include rfs(0.875rem, --#{$prefix}badge-font-size);
  }

  &.badge-xs {
    @include rfs(0.75rem, --#{$prefix}badge-font-size);
    --#{$prefix}badge-padding-y: 0.0625rem;
  }
}
