.badge {
  display: inline-flex;
  gap: map-get($spacers, 1);
  align-items: center;
  line-height: var(--#{$prefix}badge-line-height);
  --#{$prefix}badge-padding-x: 0.75rem;
  @include rfs(1rem, --#{$prefix}badge-font-size);
  --#{$prefix}badge-font-weight: 600;
  --#{$prefix}badge-line-height: 1.375rem;

  &.end {
    flex-direction: row-reverse;
  }

  &.primary {
    color: $buildout-blue-50;
    background: $buildout-blue-700;
  }

  &.secondary {
    color: $purple-heart-50;
    background-color: $purple-heart-500;
  }

  &.info {
    color: $seagull-50;
    background: $seagull-500;
  }

  &.success {
    color: $mountain-meadow-50;
    background: $mountain-meadow-800;
  }

  &.warning {
    color: $harvest-gold-50;
    background: $harvest-gold-500;
  }

  &.danger {
    color: $solid-pink-50;
    background: $solid-pink-500;
  }

  &.neutral {
    color: $storm-grey-50;
    background: $storm-grey-500;
  }

  &.badge-sm, &.badge-xs {
    --#{$prefix}badge-font-weight: 400;
    --#{$prefix}badge-line-height: 1rem;
    --#{$prefix}badge-padding-x: 0.5rem;
  }

  &.badge-sm {
    @include rfs(0.875rem, --#{$prefix}badge-font-size);
  }

  &.badge-xs {
    @include rfs(0.75rem, --#{$prefix}badge-font-size);
    --#{$prefix}badge-padding-y: 0.125rem;
  }
}
