.icon-gradient {
  --#{$prefix}--icon-fill: #{$buildout-blue-500};
}
.icon-gradient path {
  fill: url("#icon-gradient") var(--#{$prefix}--icon-fill);
}

.icon-gradient {
  background: linear-gradient(128deg, rgba(0,50,178,1) 0%, rgba(150,50,255,1) 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
