.navbar {
  &.bg-secondary {
    .nav-link:hover {
      background-color: $ds-color-secondary-700;
    }
  }

  .nav-link {
    padding: $navbar-nav-link-padding-y $navbar-nav-link-padding-x;
  }
}

.navbar-brand {
  width: 130px;
}
