.nav {
  &.nav-pills {
    --#{$prefix}nav-pills-border-radius: 80px;
    --#{$prefix}nav-pills-link-active-color: #{$body-color};
    --#{$prefix}nav-pills-link-active-bg: #{$storm-grey-100};
    --#{$prefix}nav-pills-border-color: #{$border-color};
    --#{$prefix}nav-link-color: #{$text-muted};
    gap: map-get($spacers, "0-5");

    &.nav-square {
      --#{$prefix}nav-pills-border-radius: #{$border-radius};
    }


    .nav-link {
      border: $border-width solid transparent;
      padding: calc(#{$nav-link-padding-y} - 1px) calc(#{$nav-link-padding-x} - 1px);
      border-radius: var(--#{$prefix}nav-pills-border-radius);

      &:hover:not(.active) {
        border: $border-width solid var(--#{$prefix}nav-pills-border-color);
        background: var(--#{$prefix}nav-pills-link-active-bg);
        color: var(--#{$prefix}nav-link-color);
      }

      &.active {
        border: $border-width solid var(--#{$prefix}nav-pills-border-color);
        font-weight: $font-weight-bold;
      }
    }
  }

  &.nav-tabs {
    --#{$prefix}nav-tabs-border-width: 1px;
    --#{$prefix}nav-tabs-border-color: #{$border-color};
    --#{$prefix}nav-tabs-link-hover-border-color: #{$body-color};
    --#{$prefix}nav-tabs-link-active-border-color: #{$body-color};
    --#{$prefix}nav-link-color: #{$text-muted};

    display: flex;
    gap: map-get($spacers, "0-5");
    padding-bottom: -var(--#{$prefix}nav-tabs-border-width);

    .nav-link {
      display: inline-flex;
      align-items: center;
      gap: map-get($spacers,2);
      padding: map-get($spacers, 3) $nav-link-padding-x;
      border: solid transparent;
      border-width: 2px var(--#{$prefix}nav-tabs-border-width) 0;
      color: var(--#{$prefix}nav-link-color);


      &:hover {
        border: solid $nav-tabs-link-hover-border-color;
        border-width: var(--#{$prefix}nav-tabs-border-width) var(--#{$prefix}nav-tabs-border-width) 0;
        color: var(--#{$prefix}nav-tabs-link-hover-border-color);
      }


      &.active {
        border: solid $nav-tabs-link-active-border-color;
        border-width: 2px var(--#{$prefix}nav-tabs-border-width)  0;
        border-right-color: var(--#{$prefix}nav-tabs-border-color);
        border-left-color: var(--#{$prefix}nav-tabs-border-color);
        color: var(--#{$prefix}nav-tabs-link-active-border-color);
        font-weight: $font-weight-bold;
        background-color: $card-bg;
      }
    }
  }
}
