.nav {
  &.nav-pills {
    .nav-link {
      border: 1px solid transparent;
      padding: calc(#{$nav-link-padding-y} - 1px) calc(#{$nav-link-padding-x} - 1px);

      &.active {
        border-color: $ds-color-neutral-200;
      }
    }
  }

  &.nav-tabs {
    border: 0;

    .nav-item {
      flex: 1;
    }

    .nav-link {
      border: 0;
      padding: map-get($spacers, 3) $nav-link-padding-x;

      &.active {
        border-top: $nav-tabs-border-width solid $nav-tabs-link-active-border-color;
        padding-top: calc(#{map-get($spacers, 3)} - #{$nav-tabs-border-width});
      }

      &:not(.active) {
        background: $ds-color-background-light-200;
      }
    }
  }
}
