button.btn.btn-secondary#popover-example[
  data-bs-toggle="popover"
  data-bs-html="true"
  data-bs-content="<div><strong>Lorem ipsum</strong> dolor sit amet consectetur adipisicing elit. Corrupti, debitis.</div>"]
  | This is a button
javascript:
  new bootstrap.Popover(document.getElementById("popover-example"))
