= render(::BuildoutDesignSystem::Avatar.new(size: size, images: images, display_limit: 5))

javascript:
    document.querySelectorAll("[data-bs-toggle]").forEach(tooltip => new bootstrap.Tooltip(tooltip))
