@import "buildout_design_system/setup";
@import "bootstrap";
@import "buildout_design_system/components";


/** Documentation Styles **
  *  These styles are used to render the documentation pages.
  */
:root {
  --sidebar-width: 264px;
}

.sidebar {
  position: fixed;
  left: map-get($spacers, 2);
  top: map-get($spacers, 2);
  bottom: map-get($spacers, 2);
  width: var(--sidebar-width);
  border: $border-width solid $border-color;
  box-shadow: $box-shadow-sm;
}

.layout {
  padding-left: calc(var(--sidebar-width) + #{map-get($spacers, 4)});
}

p {
  max-width: 75ch;
}

.hero {
  background: $primary-gradient;
  color: $buildout-blue-50;
  
  h1 {
    letter-spacing: -4px;
    font-size: 102px;
  }
}


.sidebar-title {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  padding: map-get($spacers, 2) map-get($spacers, 3);
  border-bottom: $border-width solid $border-color;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  a {
    margin-top: -$border-width;
    display: block;
    padding: map-get($spacers, 2) map-get($spacers, 3);
    font-weight: $font-weight-bolder;
    border: solid $border-color;
    border-width: $border-width 0;
    transition: $short3 $emphasized-accelerate;

    &:hover {
      background-color: $buildout-blue-50;
    }
  }
}

.doc-section {
  display: flex;
  padding: map-get($spacers, 3);
  background: $purple-heart-50;
  border-radius: $border-radius;
  gap: map-get($spacers, 2);
  color: $purple-heart-950;
  transition: $long2 $standard;

  .section-icon {
    margin-top: map-get($spacers, "0-5");
    background: rgba($purple-heart-300,0.3);
    border-radius: 50%;
    padding: map-get($spacers, 1);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $purple-heart-800;
    flex-shrink: 0;
  }

  &:hover {
    background: rgba($purple-heart-100, 0.3);
  }
}