.offcanvas-header *@attrs
  h5.offcanvas-title = @title
  = render(BuildoutDesignSystem::Button.new({ variant: "secondary", style: "text" }, data: { "bs-dismiss": "offcanvas"}, "aria-label": "Close")) do 
    i.fas.fa-times