script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin
script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin
script src="https://unpkg.com/react-dom@18/umd/react-dom-server-legacy.browser.development.js" crossorigin
script src="https://unpkg.com/@babel/standalone@7.10.3/babel.min.js" crossorigin

#root

= javascript_include_tag "combo_box_wrapper", type: "text/babel", 'data-presets': "react,stage-3"
= javascript_include_tag "react_test", type: "text/babel", 'data-presets': "react,stage-3"
