// --------------------------------------------------
// FILE DESCRIPTION
// This file controls the variables that apply to the LIGHT MODE
// of any application this is used. This is meant to be used as the global mode
// as the DARK MODE will most likely override these variables.
// --------------------------------------------------

// --------------------------------------------------
// BASE
// --------------------------------------------------
$color-scheme: light !default;

// --------------------------------------------------
// COLORS
// --------------------------------------------------
$primary: $buildout-blue-500 !default;
$primary-emphasis: $buildout-blue-600 !default;
$secondary: $purple-heart-500 !default;
$secondary-emphasis: $purple-heart-600 !default;
$info: $seagull-500 !default;
$info-emphasis: $seagull-600 !default;
$success: $mountain-meadow-500 !default;
$success-emphasis: $mountain-meadow-600 !default;
$warning: $harvest-gold-500 !default;
$warning-emphasis: $harvest-gold-600 !default;
$danger: $solid-pink-500 !default;
$danger-emphasis: $solid-pink-600 !default;
$neutral: $storm-grey-600 !default;
$neutral-emphasis: $storm-grey-700 !default;
$light: $storm-grey-200 !default;
$dark: $storm-grey-900 !default;

$body-bg: $storm-grey-50 !default;
$body-color: $storm-grey-950 !default;
$text-muted: $storm-grey-400 !default;

$link-color: $primary !default;
$link-hover-color: $primary-emphasis !default;

$border-color: $storm-grey-300 !default;

// --------------------------------------------------
// LOAD THEME
// -------------------------------------------------
$theme-color: (
  "primary": $primary,
  "primary-emphasis": $primary-emphasis,
  "secondary": $secondary,
  "secondary-emphasis": $secondary-emphasis,
  "info": $info,
  "info-emphasis": $info-emphasis,
  "success": $success,
  "success-emphasis": $success-emphasis,
  "warning": $warning,
  "warning-emphasis": $warning-emphasis,
  "danger": $danger,
  "danger-emphasis": $danger-emphasis,
  "neutral": $neutral,
  "neutral-emphasis": $neutral-emphasis,
  "light": $light,
  "dark": $dark,
) !default;

// --------------------------------------------------
// BOOTSTRAP COLOR OVERRIDES
// --------------------------------------------------
// Cards
$card-bg: $white !default;
$card-border-color: $border-color !default;
$card-cap-bg: $white !default;
// Tabs
$nav-tabs-border-width: 2px !default;
$nav-tabs-border-color: $border-color !default;
$nav-tabs-link-hover-border-color: $body-color !default;
$nav-tabs-link-active-border-color: $body-color !default;
$nav-link-padding-x: $spacer !default;
$nav-link-padding-y: $spacer * 0.75 !default;
// Progress Bar
$progress-height:1.25rem !default;
$progress-bar-bg: $secondary !default;
$progress-bg: $body-bg !default;
$progress-border-radius: 1.25rem !default;
// Pagination
$pagination-padding-y: map-get($spacers, 2) !default;
$pagination-padding-x: map-get($spacers, 3) !default;
$pagination-bg: $card-bg !default;
$pagination-color: $body-color !default;
$pagination-border-color: $border-color !default;
$pagination-hover-bg: $storm-grey-100 !default;
$pagination-active-bg: $primary !default;
$pagination-active-color: $buildout-blue-50 !default;
$pagination-disabled-color: $text-muted !default;
$pagination-disabled-bg: $storm-grey-100 !default;
// Inputs
$input-padding-x: map-get($spacers, 4) !default;
$input-padding-y: map-get($spacers, 2) !default;
$input-border-width: $border-width !default;
$input-border-color: $border-color !default;
$input-border-radius: $border-radius !default;
$input-bg: $white !default;
$input-color: $body-color !default;
$input-disabled-bg: $storm-grey-300 !default;
$input-focus-border-color: $buildout-blue-100 !default;
$input-group-addon-bg: $storm-grey-100 !default;
// Accordion
$accordion-bg: $card-bg !default;
$accordion-border-color: $border-color !default;
// Modal
$modal-content-bg: $card-bg !default;

// Table
$table-striped-bg: $storm-grey-50 !default;

// --------------------------------------------------
// POPOVER
// --------------------------------------------------
$popover-bg: $card-bg;
$popover-border-color: $card-bg;

// --------------------------------------------------
// DROPDOWN
// --------------------------------------------------
$dropdown-bg: $card-bg;
$dropdown-color: $body-color;
$dropdown-item-padding-y: map-get($spacers, 2);
$dropdown-item-padding-x: map-get($spacers, 3);
$dropdown-border-color: $border-color;
$dropdown-link-hover-bg: $body-bg;
$dropdown-box-shadow: $box-shadow-sm;
$dropdown-link-active-bg: $storm-grey-100;
$dropdown-link-active-color: $body-color;
