// Basic
$white: #ffffff;
$black: #000000;

// Buildout Color Palette
// Buildout Blue
$buildout-blue-50: #DDEBFD;
$buildout-blue-100: #A8BAF0;
$buildout-blue-200: #87A0E8;
$buildout-blue-300: #6685E0;
$buildout-blue-400: #456BD8;
$buildout-blue-500: #2450D0;
$buildout-blue-600: #2042A7;
$buildout-blue-700: #1D357E;
$buildout-blue-800: #192755;
$buildout-blue-900: #15192C;
$buildout-blue-950: #0E162F;

// Purple Heart
$purple-heart-50: #F2EAFD;
$purple-heart-100: #B07BEA;
$purple-heart-200: #A165E3;
$purple-heart-300: #924FDC;
$purple-heart-400: #8338D5;
$purple-heart-500: #7422CE;
$purple-heart-600: #651DB3;
$purple-heart-700: #551997;
$purple-heart-800: #46147C;
$purple-heart-900: #2E0E52;
$purple-heart-950: #1F0A33;

// Storm Grey
$storm-grey-50: #F7F8F8;
$storm-grey-100: #EEEEF2;
$storm-grey-200: #D8DADF;
$storm-grey-300: #B5B8C4;
$storm-grey-400: #8E93A4;
$storm-grey-500: #6E7487;
$storm-grey-600: #4F5463;
$storm-grey-700: #40434F;
$storm-grey-800: #353741;
$storm-grey-900: #2E3038;
$storm-grey-950: #1C1D21;

// Solid Pink
$solid-pink-50: #FAEBE9;
$solid-pink-100: #ECB5BB;
$solid-pink-200: #E18A92;
$solid-pink-300: #D5646D;
$solid-pink-400: #CB4E53;
$solid-pink-500: #C2403E;
$solid-pink-600: #B23A3D;
$solid-pink-700: #9E3439;
$solid-pink-800: #8B2D37;
$solid-pink-900: #6A2332;
$solid-pink-950: #3F1217;

// Seagull
$seagull-50: #D5F2F8;
$seagull-100: #B5E7F3;
$seagull-200: #89D9EC;
$seagull-300: #65C9E3;
$seagull-400: #50BFDC;
$seagull-500: #4AB4D7;
$seagull-600: #43A3C1;
$seagull-700: #3A8EA4;
$seagull-800: #32798B;
$seagull-900: #24575F;
$seagull-950: #102C3C;

// Harvest Gold
$harvest-gold-50: #FCF9F0;
$harvest-gold-100: #F8EFDC;
$harvest-gold-200: #EED8A9;
$harvest-gold-300: #E5BF77;
$harvest-gold-400: #DBA74A;
$harvest-gold-500: #D18624;
$harvest-gold-600: #CD7C22;
$harvest-gold-700: #C66D1F;
$harvest-gold-800: #BE601C;
$harvest-gold-900: #B54A17;
$harvest-gold-950: #3A1F10;

// Mountain Meadow
$mountain-meadow-50: #EDFCF4;
$mountain-meadow-100: #E4F6EF;
$mountain-meadow-200: #B3E5D2;
$mountain-meadow-300: #82D5B5;
$mountain-meadow-400: #50C498;
$mountain-meadow-500: #1FB37B;
$mountain-meadow-600: #1AA96F;
$mountain-meadow-700: #159F63;
$mountain-meadow-800: #0F9557;
$mountain-meadow-900: #0A8B4B;
$mountain-meadow-950: #05291E;

// Strawberry
$strawberry-50: #FFF0F9;
$strawberry-100: #FFE4F4;
$strawberry-200: #FFC9EB;
$strawberry-300: #FF9CD9;
$strawberry-400: #FF5FBD;
$strawberry-500: #FF30A1;
$strawberry-600: #F50D7D;
$strawberry-700: #E20067;
$strawberry-800: #B00450;
$strawberry-900: #920945;
$strawberry-950: #5B0026;

// Gradient
$primary-gradient: linear-gradient(116deg, #{$buildout-blue-600} 13.34%, #{$purple-heart-500} 83.43%)