@import "colors";
@import "utilities";

// --------------------------------------------------
// FILE DESCRIPTION
// Use this file to generate the spacing and other utilities for the overall theme.
// There should not be any colors in this file. (with the exception of shadows)
// Use this specifically to change values of Bootstrap or add any custom variable that
// applies onto the theme.
// --------------------------------------------------

// --------------------------------------------------
// CONFIGURATION
// --------------------------------------------------
$prefix: "ds-" !default;
// $utilities: $custom-utils !default;
$enable-dark-mode: false !default;
$link-decoration: none !default;

// --------------------------------------------------
// TYPOGRAPHY
// --------------------------------------------------
$font-family-sans-serif: "Proxima Nova", sans-serif !default;
$font-size-base: 1rem !default; // 16px
$font-size-lg: $font-size-base * 1.25 !default; // 20px
$font-size-sm: $font-size-base * 0.875 !default; // 14px

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold:600 !default;
$font-weight-bolder: 700 !default;

$h1-font-size: $font-size-base * 2.986 !default;
$h2-font-size: $font-size-base * 2.488 !default;
$h3-font-size: $font-size-base * 2.074 !default;
$h4-font-size: $font-size-base * 1.728 !default;
$h5-font-size: $font-size-base * 1.44 !default;
$h6-font-size: $font-size-base * 1.2 !default;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  "base": $font-size-base,
) !default;

$line-height: 137.5% !default; // close to 22px for 16px font

// --------------------------------------------------
// SPACING
// Spacers are used for margin, padding, and other spacing needs.
// They are always calculated in multiples of 4px.
// --------------------------------------------------
$spacer: 1rem !default; // 16px Base
$spacers: (
  0: 0,
  "0-5": ($spacer * 0.125), // 2px
  1: ($spacer * 0.25), // 4px
  2: ($spacer * 0.5), // 8px
  3: ($spacer * 0.75), // 12px
  4: $spacer, // 16px
  5: ($spacer * 1.25), // 20px
  6: ($spacer * 1.5), // 24px
  7: ($spacer * 1.75), // 28px
  8: ($spacer * 2), // 32px
  9: ($spacer * 2.25), // 36px
  10: ($spacer * 2.5), // 40px
) !default;

// --------------------------------------------------
// BOOTSTRAP GRID SYSTEM
// --------------------------------------------------
$enable-grid-classes: false !default;
$enable-cssgrid: true !default;
$grid-columns: 12 !default;
$grid-gutter-width: map-get($spacers, 6) !default;
$gutters: $spacers !default;


// --------------------------------------------------
// SHADOWS
// NOTE: This requires some review as it is recommended that shadows
// should be reflective of the color of the element that is emitting the shadow.
// --------------------------------------------------
$box-shadow: 0 0.25rem 0.5rem rgba($black, 0.25) !default;
$box-shadow-xs: 0 1px 0 0 rgba($black, 0.25) !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.25) !default;
$box-shadow-md: 0 0.5rem 1rem rgba($black, 0.25) !default;
$box-shadow-lg: 0 0.75rem 1.5rem rgba($black, 0.25) !default;
$box-shadow-xl: 0 1rem 2rem rgba($black, 0.35) !default;
$box-shadow-inset: inset $box-shadow !default;

// --------------------------------------------------
// TRANSITIONs
// --------------------------------------------------
$standard: cubic-bezier(0.2, 0, 0, 1) !default;
$standard-decelerate: cubic-bezier(0, 0, 0, 1) !default;
$standard-accelerate: cubic-bezier(0.3, 0, 1, 1) !default;
$emphasized-standard: $standard !default;
$emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1) !default;
$emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15) !default;

// Durations
// This is used for utilities like changing a checkbox, etc.
$short: 50ms !default;
$short2: 100ms !default;
$short3: 150ms !default;
$short4: 200ms !default;

// These are used for items that need to travel (expand, contract), like opening a popup, etc.
$medium: 250ms !default;
$medium2: 300ms !default;
$medium3: 350ms !default;
$medium4: 400ms !default;

// These can be used for more major transitions, like opening a modal, etc.
$long: 450ms !default;
$long2: 500ms !default;
$long3: 550ms !default;
$long4: 600ms !default;

// These probably will be used the least. Shoudl be for automatic animations.
$xlong: 700ms !default;
$xlong2: 800ms !default;
$xlong3: 900ms !default;
$xlong4: 1000ms !default;


// --------------------------------------------------
// BORDERS
// --------------------------------------------------
$border-radius: map-get($spacers, 1) !default; // 4px
$border-radius-lg: map-get($spacers, 2) !default; // 8px
$border-radius-sm: map-get($spacers, "0-5") !default; // 2px
$border-width: 1px !default;

// --------------------------------------------------
// INPUTS / BUTTONS / FORMS
// --------------------------------------------------
$form-label-font-weight: 700 !default;
$input-padding-x: $spacer !default; // 16px
$input-padding-y: map-get($spacers, 2) !default; // 8px
$input-line-height: 1.375 !default; // close to 22px for 16px font

$btn-line-height: $input-line-height !default;
$btn-padding-x: $input-padding-x !default;
$btn-padding-y: $input-padding-y !default;
$input-height: 40px !default;
$button-height: 40px !default;
$form-feedback-valid-color: $storm-grey-300;
$form-feedback-invalid-color: $solid-pink-400;
$form-feedback-icon-valid: none;
$form-feedback-icon-invalid: none;

// --------------------------------------------------
// CARDS
// --------------------------------------------------
$card-cap-padding-y: $spacer !default;
$card-cap-padding-x: $spacer !default; // 16px
$card-border-width: 1px !default;

// --------------------------------------------------
// LIST GROUPS
// --------------------------------------------------
$list-group-bg: transparent !default;

// --------------------------------------------------
// TABS
// --------------------------------------------------
$nav-link-padding-y: map-get($spacers, 3) !default; // 12px
$nav-link-padding-x: $spacer !default; // 16px
$navbar-brand-height: 1.5 !default;
$nav-tabs-border-radius: 0 !default;
$nav-tabs-border-width: 0 !default;
$nav-tabs-link-active-bg: transparent !default;

// --------------------------------------------------
// BADGES
// --------------------------------------------------
$badge-padding-x: map-get($spacers, 3) !default; // 12px
$badge-padding-y: map-get($spacers, 1) !default; // 4px


// --------------------------------------------------
// TABLES
// --------------------------------------------------
$table-bg: none !default;
$table-border-width: 0 !default;
